In [2]:
import pandas as pd
import numpy as np

In [33]:
import re
import nltk
nltk.download("stopwords")
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\205120048\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [50]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
df=pd.read_csv(r"C:\Users\205120048\Downloads\smsspamcollection\SMSSpamCollection",sep="\t",names=["lavel","message"])

In [12]:
df.head()

  lavel                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [13]:
df.to_csv("data.csv")

In [14]:
df.describe()

       lavel                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [40]:
pt=PorterStemmer()
def fun(sen):
    sen=re.sub('[^a-zA-z]'," ",sen)
    sen=sen.lower()
    words=sen.split()
    data=[pt.stem(word) for word in words if not word in stopwords.words("english")]
    sen=" ".join(data)
    return sen

In [41]:
fun("Go until jurong point, crazy.. Available only ..")

'go jurong point crazi avail'

In [46]:
df["message"]=df["message"].apply(fun)

In [47]:
df.head()

  lavel                                            message
0   ham  go jurong point crazi avail bugi n great world...
1   ham                              ok lar joke wif u oni
2  spam  free entri wkli comp win fa cup final tkt st m...
3   ham                u dun say earli hor u c alreadi say
4   ham               nah think goe usf live around though

In [59]:
cv=CountVectorizer(max_features=4000)
data=cv.fit_transform(df["message"]).toarray()

In [60]:
data.shape

(5572, 4000)

In [61]:
y=pd.get_dummies(df["lavel"])

In [63]:
y=y.iloc[:,0:1]

In [64]:
y

      ham
0       1
1       1
2       0
3       1
4       1
...   ...
5567    0
5568    1
5569    1
5570    1
5571    1

[5572 rows x 1 columns]

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
x_tr,xte,ytr,yte=train_test_split(data,y,test_size=0.20,random_state=0)

In [68]:
from sklearn.naive_bayes import MultinomialNB

In [69]:
nv=MultinomialNB()

In [71]:
nv.fit(x_tr,ytr)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB()

In [72]:
y_pre=nv.predict(xte)

In [74]:
from sklearn.metrics import confusion_matrix

In [82]:
cm=confusion_matrix(yte,y_pre)

In [83]:
cm

array([[153,   7],
       [ 10, 945]], dtype=int64)

In [84]:
from sklearn.metrics import accuracy_score

In [85]:
accuracy=accuracy_score(yte,y_pre)

In [86]:
accuracy

0.9847533632286996